<#import "base.ftlh" as base>
<@base.layout>
    <h1>
        Add new place!
    </h1>

    <div>
        <form action="/addPlace" method="post" enctype="multipart/form-data">
            <#if _csrf??>
                <input type="hidden" name="${(_csrf.parameterName)!'csrf'}" value="${(_csrf.token)!'--no-token--'}"/>
            </#if>
            <div class="row">
                <div class="col-12">
                    <label for="title">Title: </label>
                    <input class="form-control" type="text" name="title" id="title">
                </div>
                <div class="col-12">
                    <label for="description">Description: </label>
                    <textarea class="form-control" name="description" id="description" cols="30" rows="10"></textarea>
                </div>
                <div class="col-12">
                    <label for="photo">Main photo: </label>
                    <input class="form-control" type="file" name="photo" id="photo">
                </div>
                <br>
                <br>
                <div class="col-12">
                    <button class="btn btn-success" type="submit">Submit new place</button>
                </div>
            </div>
        </form>
    </div>
</@base.layout>